<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button class="btn btn-link" routerLink="/">Main Page</button>

  </div>

  <div class="info">
    <strong>Author</strong>
    <small>05.05.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eaque eveniet in laudantium libero necessitatibus non sapiente soluta, sunt unde?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eaque eveniet in laudantium libero necessitatibus non sapiente soluta, sunt unde?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eaque eveniet in laudantium libero necessitatibus non sapiente soluta, sunt unde?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eaque eveniet in laudantium libero necessitatibus non sapiente soluta, sunt unde?</p>
  </div>

</div>
